.card-pricing__container{
    position: absolute;
    bottom: 0px;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    color: antiquewhite;
    font-family: Cambria;
}

.card-pricing__title{
    margin-bottom: 10px;
}

.card-pricing__value{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-pricing__value__console{
    display: flex;

}
.card-pricing__value__console > span{
    font-weight: bolders;
    color: aqua;
    margin-right: 10px;
}